@import "../../../../assets/sass/variables";

.item{
    display: flex;
    
    p{
        flex: 1;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: -.25px;
        color: $color_grey_3;
        flex-shrink: 0;
        width: 10rem;
        overflow-wrap: break-word;
        word-wrap: break-word; 

        &:first-of-type{
            flex: 2;
        }

        &:not(:first-of-type){
            text-align: right;
        }
    }

    .name, .total{
        color: $color_grey_4;
    }

    .quantity{
        margin-right: 2.1rem;
    }

    .price{
        margin-right: 2.6rem;
    }
}

:global(.dark_mode){
    .item{
        p{
            color: $color_grey_1;
        }

        .name,
        .total{
                color: $color_white;
            }
    }
}