@import "../../../../assets/sass/variables";

.item{
    display: flex;

    @media only screen and (max-width: $bp_phone){
        display: grid;
        grid-template-columns: minmax(min-content, max-content) minmax(max-content, 1fr) minmax(max-content, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: .7rem;

        .name{
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .quantity{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .price{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .total{
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            margin: auto 0 auto auto;
            text-align: right !important;
        }
    }
    
    p{
        flex: 1;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: -.25px;
        color: $color_grey_3;
        flex-shrink: 0;
        width: 10rem;
        overflow-wrap: break-word;
        word-wrap: break-word; 

        @media only screen and (max-width: $bp_phone){
            width: 100%;
            max-width: 10rem;
        }

        &:first-of-type{
            flex: 2;
        }

        &:not(:first-of-type){
            text-align: right;
            @media only screen and (max-width: $bp_phone){
                text-align: unset;
            }
        }
    }


    .name, .total{
        color: $color_grey_4;
    }

    .quantity{
        margin-right: 2.1rem;

        @media only screen and (max-width: $bp_phone){
            margin-right: 0;
            position: relative;
            padding-right: 2rem;
            &::after{
                content: "x";
                display: block;
                position: absolute;
                right: 5px;
                top: 0;
                height: 1rem;
                width: 1rem;
            }
        }
    }

    .price{
        margin-right: 2.6rem;

        @media only screen and (max-width: $bp_phone){
            margin-right: 0;
        }
    }
}

:global(.dark_mode){
    .item{
        p{
            color: $color_grey_1;

            @media only screen and (max-width: $bp_phone){
                color: $color_grey_2;
            }
        }

        .name,
        .total{
                color: $color_white;
            }
    }
}