@import "../../../../assets/sass/variables";

.invoice_header{
    display: flex;
    align-items: center;
    height: 8.8rem;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    border-radius: .8rem;
    margin-top: 2.7rem;
    font-family: $font_primary;
    background-color: $color_white;
    padding: 0 3.2rem;

    @media only screen and (max-width: $bp_phone){
        padding: 0 2.4rem;
    }

    .status_label{
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: -.1px;
        color: #858BB2;
        margin-right: 2rem;
    }

    .status{
        margin-right: auto;
        
        @media only screen and (max-width: $bp_phone){
            margin-right: unset;
            margin-left: auto;
        }
    }

    .invoice_actions{
        display: flex;
        gap: .8rem;

        @media only screen and (max-width: $bp_phone){
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: $color_white;
            height: 9rem;
            align-items: center;
            justify-content: space-around;
            padding: 0 2.4rem;
            z-index: 99;

            > button{
                flex-shrink: 0;
            }
        }
        
        button{
            border: none;
            outline: none;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -.25px;
            height: 4.8rem;
            border-radius: 2.4rem;
            padding: 0 2.4rem;

            &:hover{
                transition: all .2s;
            }
        }

        .edit{
            background: #F9FAFE;
            color: $color_grey_3;

            &:hover{
                background: $color_grey_1;
            }
        }

        .delete{
            background: $color_red;
            color: $color_white;

            &:hover{
                background: #FF9797;
            }
        }

        .mark_as_paid{
            background: $color_primary_1;
            color: $color_white;

            &:hover{
                background: $color_primary_2;
            }
        }
    }
}

:global(.dark_mode){
    .invoice_header{
        background-color: $color_primary_dark_1;

        .status_label{
            color: $color_grey_1;
        }

        .invoice_actions{

            @media only screen and (max-width: $bp_phone){
                background: $color_primary_dark_1;
            }
            
            .edit{
                background: $color_primary_dark_2;
                color: $color_grey_1;
                
                &:hover{
                    color: $color_grey_3;
                    background: $color_white;
                }
            }
        }
    }
}