@import "../../../../assets/sass/variables";

.item_list{
    background: #F9FAFE;
    border-radius: .8rem .8rem 0 0;
    padding: 3.2rem 3.2rem 3.9rem 3.2rem;
    margin-top: 4.5rem;

    .list_header{
        display: flex;
        margin-bottom: 3rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: $color_grey_3;
        
        p{
            flex: 1;

            &:first-of-type{
                flex: 2;
            }

            &:not(:first-of-type){
                text-align: right;
            }
        }

        .price{
            margin-right: 2.6rem;
        }
    }

    ul {
        li{
            &:not(:last-of-type){
                margin-bottom: 3.2rem;
            }
        }
    }
}

:global(.dark_mode){
    .item_list{
        background: $color_primary_dark_2;

        .list_header{
            color: $color_grey_1;
        }
    }
}
