$color_paid: #33D69F;
$color_pending: #FF8F00;
$color_draft: #373B53;
$color_draft_dark: #DFE3FA;
$opacity_value: 0.0571;

@import "../../../../assets/sass/variables";

.invoice_item{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 7.2rem;
    background-color: $color_white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    border-radius: 8px;
    margin-bottom: 1.6rem;
    padding: 0 2rem 0 3.1rem;
    gap: 1rem;

    @media only screen and (max-width: $bp_phone){
        height: 13.4rem;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr repeat(2, 1fr);
        padding: 2.8rem 2.4rem;
    }

    p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .id{
        color: $color_black;
        font-weight: 700;
        flex: 0 1 9.7rem;

        @media only screen and (max-width: $bp_phone){
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            margin-bottom: auto;
            line-height: 1;
        }

        span{
            color: $color_grey_3;
        }
    }

    .payment_due,
    .client_name{
        color: $color_grey_2;
        font-size: 1.3rem;
    }

    .payment_due{
        flex: 0 1 13.8rem;

        @media only screen and (max-width: $bp_phone){
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }

    .client_name{
        flex: 1 1 10rem;
        margin-right: auto;

        @media only screen and (max-width: $bp_phone){
            max-width: 22rem;
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            margin-right: unset;
        }

        @media only screen and (max-width: $bp_smallest){
            align-self: flex-start;
            justify-self: flex-end;
        }
    }

    .total{
        flex: 0 1 10rem;
        color: $color_black;
        font-weight: 700;
        text-align: right;
        margin-right: 3rem;

        @media only screen and (max-width: $bp_phone){
            text-align: left;
            margin-right: 0;
            margin-top: 1.2rem;
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
    }

    .status{
        @media only screen and (max-width: $bp_phone){
            grid-row: 2 / 4;
            grid-column: 2 / 3;
            margin-right: 0;
        }

        @media only screen and (max-width: $bp_smallest){
            justify-self: flex-end;
        }
    }

    button{
        background: none;
        border: none;
        outline: none;
        .right_arrow_icon{
            display: inline-block;
            height: 1rem;
            width: 1rem;
            background: url("./images/icon-arrow-right.svg") no-repeat center;
        }

        @media only screen and (max-width: $bp_phone){
            display: none;
        }
    }
}

:global(.dark_mode){
    .invoice_item{
        background-color: $color_primary_dark_1;
        color: $color_white;
    }

    .id,
    .total{
        color: $color_white;
    }

    .payment_due,
    .client_name{
        color: $color_grey_1;
    }
}