@import "../../../../assets/sass/variables";

.invoice_info{
    background: $color_white;
    margin-top: 2.4rem;
    border-radius: .8rem .8rem 0 0;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10);
    padding: 5.2rem 4.8rem;

    .info_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min-content);
        color: $color_grey_3;
        row-gap: .6rem;
        column-gap: 1rem;
        font-size: 1.3rem;
        letter-spacing: -.1px;
        line-height: 1.8rem;
        font-weight: 500;

        b{
            color: $color_grey_4;
            font-weight: 700;
            line-height: 2rem;
            display: block;

            span{
                color: $color_grey_2;
            }
        }

        .id{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: 4rem;

            b{
                margin-bottom: .7rem;
            }
        }

        .date, 
        .bill_to,
        .sent_to,
        .payment_due{
            p{
                margin-bottom: 1rem;
            }
        }

        .address{
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            text-align: right;
        }

        .date{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .bill_to{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .sent_to{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        .payment_due{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            align-self: flex-end;
        }

        .address_to{
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    }

    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        border-radius: 0 0 .8rem .8rem;
        padding: 0 3.2rem;
        background: #373B53;
        color: $color_white;

        span{
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: -.1px;
        }

        p{
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: -.5px;
        }
    }
}