@import "../../../../assets/sass/variables";


.new_invoice_form{
    padding: 4rem 1.6rem 1rem 4.8rem;
    margin-right: 3.2rem;
    margin-top: 2rem;
    height: calc(100% - 13rem);
    overflow: auto;

    &::-webkit-scrollbar {
        width: .8rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $color_grey_1;
        border-radius: 4px;
    }

    h3{
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -.5px;
        color: $color_grey_4;
        margin-bottom: 4.5rem;
    }

    h4{
        color: $color_primary_1;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: -.25px;
        margin-bottom: 2.1rem;
    }

    .input_group{
        display: flex;
        flex-direction: column;

        label{
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: -.1px;
            color: $color_grey_3;
            margin-bottom: .5rem;
        }

        input{
            height: 4.8rem;
            width: 100%;
            border: 1px solid $color_grey_1;
            border-radius: 4px;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color_grey_4;
            letter-spacing: -.25px;
            padding: 0 1.5rem;
            outline: none;

            &:focus{
                border: 1px solid $color_primary_2 !important;
            }
        }
    }

    .bill_from{
        margin-bottom: 4.6rem;
        .input_container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.4rem;
            row-gap: 2.3rem;

            .input_group:nth-child(1){
                grid-column: 1 / 4;
            }
        }
    }

    .bill_to{
        .input_container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.4rem;
            row-gap: 2.3rem;

            .input_group:nth-child(1){
                grid-column: 1 / 4;
            }
            .input_group:nth-child(2){
                grid-column: 1 / 4;
            }
            .input_group:nth-child(3){
                grid-column: 1 / 4;
            }
        }
    }

    .invoice{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.4rem;
        row-gap: 2.3rem;
        margin-top: 2rem;

        .input_group:nth-child(1){
            grid-column: 1 / 2;
        }

        .input_group:nth-child(2){
            grid-column: 2 / 3;
        }

        .input_group:nth-child(3){
            grid-column: 1 / 3;
        }

        .invoice_date_container{
            position: relative;

            .calendar_icon{
                position: absolute;
                content: "";
                background: url("/images/icon-calendar.svg") no-repeat center;
                height: 1.7rem;
                width: 1.7rem;
                top: 4rem;
                right: 1.5rem;
                cursor: pointer;

                &.active{
                    background: url("/images/icon-active-calendar.svg") no-repeat center !important;
                }
            }

            input{
                cursor: pointer;
            }
        }

        .payment_terms{
            height: 4.8rem;
            border: 1px solid $color_grey_1;
            border-radius: 4px;
            padding: 1rem;

            &:global(.show){
                border: 1px solid $color_primary_1;
            }

            button{
                color: $color_black;
                font-size: 1.5rem;
                font-weight: 700;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                transition: none;
                height: 100%;
                justify-content: space-between;

                &:active{
                    background: none;
                    color: $color_black;
                }
    
                &::after{
                    background: url("/images/icon-arrow-down.svg") no-repeat center;
                    border: none;
                    height: 2rem;
                    width: 2rem;
                    margin-left: 0;
                    vertical-align: 0;
                    transition: transform .2s;
                }
    
                &[aria-expanded="true"]::after{
                    transform: rotate(180deg);
                }
            }

            .payment_terms_menu{
                width: 100%;
                border-radius: 8px;
                box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
                border: none;
                inset: 10px auto auto -10px !important;
    
                .payment_terms_option{
                    cursor: pointer;
                    font-size: 1.5rem;
                    letter-spacing: -.25px;
                    font-weight: 700;
                    color: $color_grey_4;
                    padding: 1.5rem 2.4rem;

                    &:hover{
                        color: $color_primary_1;
                    }

                    &:not(:last-of-type){
                        border-bottom: 1px solid $color_grey_1;
                    }
                }
            }
        }

        .date_head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.4rem;

            > button{
                border: none;
                outline: none;
                background: none;
                height: 2rem;
                width: 2rem;
                margin: 0 .6rem;

                &.prev_btn{
                    background: url("/images/icon-arrow-left.svg") no-repeat center;
                }

                &.next_btn{
                    background: url("/images/icon-arrow-right.svg") no-repeat center;
                }
            }

            .date_text{
                font-size: 1.5rem;
                letter-spacing: -.25px;
                font-weight: 700;
                color: $color_grey_4;
            }
        }
    }

    .item_list_container{
        margin-top: 2rem;

        h5{
            font-size: 1.8rem;
            color: #777F98;
            font-weight: 700;
            letter-spacing: -.375px;
        }

        .item_list_header{
            display: flex;
            color: $color_grey_3;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: -.1px;
            margin-bottom: .5rem;
            gap: 1.6rem;

            p{
                &:nth-child(1){
                    width: 100%;
                    max-width: 21.4rem;
                    min-width: 0;
                }
                &:nth-child(2){
                    flex-shrink: 0;
                    width: 4.6rem;
                }
                &:nth-child(3){
                    flex-shrink: 0;
                    width: 10rem;
                }
                &:nth-child(4){
                    flex: 1;
                    flex-shrink: 0;
                }
            }
        }

        .add_item_btn{
            height: 4.8rem;
            border-radius: 2.4rem;
            background: #F9FAFE;
            border: none;
            outline: none;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color_grey_3;
            margin-top: 1.8rem;
            letter-spacing: -.25px;

            &:hover{
                background: $color_grey_1;
            }

            .add_icon{
                display: block;
            }
        }
    }

    .actions_container{
        margin-top: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3rem 5.6rem 3rem 15.9rem;
        width: 100%;
        display: flex;
        background: $color_white;
        border-radius: 0px 20px 20px 0px;
        box-shadow: rgba(0, 0, 0, .05) 0px -60px 75px 0px;
        
        button{
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -.25px;
            border: none;
            outline: none;
            height: 4.8rem;
            padding: 0 2.4rem;
            border-radius: 2.4rem;

            &.btn_discard{
                margin-right: auto;
                background: #F9FAFE;
                color: $color_grey_3;


            }

            &.btn_draft{
                margin-right: .8rem;
                background: #373B53;
                color: $color_grey_2;

                &:hover{
                    background: $color_grey_4;
                }
            }

            &.btn_save{
                background: $color_primary_1;
                color: $color_white;

                &:hover{
                    background: #9277FF;
                }
            }
        }
    }
}

:global(.dark_mode){
    .new_invoice_form{
        h3{
            color: $color_white;
        }

        .input_group{
            label{
                color: $color_grey_1;
            }

            input{
                background: $color_primary_dark_1;
                border: 1px solid $color_primary_dark_2;
                color: $color_white;
            }
        }

        .invoice{
            .invoice_date_container{
                .calendar_icon{
                    background: url("/images/icon-active-calendar.svg") no-repeat center;
                }
            }
        }

        .item_list_container{
            .item_list_header{
                color: $color_grey_1;
            }

            .add_item_btn{
                color: $color_grey_1;
                background: $color_primary_dark_2;
            }
        }

        .actions_container{
            background: $color_dark_bg;
        }

        .payment_terms{
            background: $color_primary_dark_1;
            border: 1px solid $color_primary_dark_2;
            button{
                color: $color_white;
            }
        }
    }
}