@import "../../assets/sass/variables";

.side-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #373B53;
    border-radius: 0 2rem 2rem 0;
    overflow: hidden;
    width: 10.3rem;

    &__logo{
        position: relative;
        margin-bottom: auto;
        background: $color_primary_1;
        align-self: stretch;
        height: 10.3rem;
        display: grid;
        place-items: center;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            height: 10.3rem;
            width: 10.3rem;
            background: $color_primary_2;
            left: 0;
            bottom: -50%;
            border-top-left-radius: 2rem;
            z-index: 1;
        }

        img{
            width: 4rem;
            height: auto;
            z-index: 10;
        }
    }

    &__theme-btn,
    &__user{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &__theme-btn{
        border-bottom: 1px solid #494E6E;
        width: 100%;
        padding-bottom: 3.2rem;
    }

    &__user{
        overflow: hidden;
        height: 4rem;
        width: 4rem;
        margin: 2.4rem 0;

        img{
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}