@import "../../../assets/sass/variables";

.slider{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    
    .content{
        position: fixed;
        left: 0;
        height: 100vh;
        width: 100%;
        max-width: 72rem;
        background: $color_white;
        border-radius: 0 2rem 2rem 0;
        z-index: 50;
        padding-left: 11rem;
        padding-right: .8rem;
        animation: slide .5s;

        @media only screen and (max-width: $bp_tablet){
            padding-left: 0;
            padding-top: 8rem;
            max-width: 61.6rem;
        }

        @media only screen and (max-width: $bp_phone){
            max-width: unset;
            width: 100%;
        }
    }
}

:global(.dark_mode){
    .slider{
        .content{
            background: $color_dark_bg;
        }
    }
}

@keyframes slide {
    0%{
        left: -100%;
    }

    100%{
        left: 0;
    }
}