@import "../../../assets/sass/variables";

.side-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #373B53;
    border-radius: 0 2rem 2rem 0;
    overflow: hidden;
    width: 10.3rem;
    z-index: 1000;

    @media only screen and (max-width: $bp_tablet){
        flex-direction: row;
        border-radius: unset;
    }

    &__logo{
        position: relative;
        margin-bottom: auto;
        background: $color_primary_1;
        align-self: stretch;
        height: 10.3rem;
        display: grid;
        place-items: center;
        overflow: hidden;

        @media only screen and (max-width: $bp_tablet){
            margin-bottom: unset;
            margin-right: auto;
            height: 100%;
            width: 8rem;
            border-radius: 0 2rem 2rem 0;
        }

        @media only screen and (max-width: $bp_phone){
            width: 7.2rem;
        }

        &::before{
            content: "";
            position: absolute;
            height: 10.3rem;
            width: 10.3rem;
            background: $color_primary_2;
            left: 0;
            bottom: -50%;
            border-top-left-radius: 2rem;
            z-index: 1;

            @media only screen and (max-width: $bp_tablet){
                height: 8rem;
                width: 8rem;
            }

            @media only screen and (max-width: $bp_tablet){
                height: 7.2rem;
                width: 7.2rem;
            }
        }

        img{
            width: 4rem;
            height: auto;
            z-index: 10;

            @media only screen and (max-width: $bp_tablet){
                width: 3rem;
            }
        }
    }

    &__theme-btn,
    &__user{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &__theme-btn{
        border-bottom: 1px solid #494E6E;
        width: 100%;
        padding-bottom: 3.2rem;

        @media only screen and (max-width: $bp_tablet){
            width: unset;
            border-bottom: unset;
            height: 100%;
            border-right: 1px solid #494E6E;
            padding: 0 3.2rem;
        }

        @media only screen and (max-width: $bp_phone){
            padding: 0 2.6rem;
        }
    }

    &__user{
        overflow: hidden;
        height: 4rem;
        width: 4rem;
        margin: 2.4rem 0;

        @media only screen and (max-width: $bp_tablet){
            height: 3.2rem;
            width: 3.2rem;
            margin: 0 3.2rem;
        }

        @media only screen and (max-width: $bp_phone){
            margin: 0 2.6rem;
        }

        img{
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}