@import "../../../../assets/sass/variables";

.item_container{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 100%;

    &:not(:last-of-type){
        margin-bottom: 1.8rem;
    }

    @media only screen and (max-width: $bp_phone){
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr min-content;
        column-gap: 1.6rem;
        row-gap: 1.4rem;

        .input_group:nth-child(1){
            grid-column: 1 / 5;
        }
    }

    .input_group{
        label{
            display: none;
            color: $color_grey_3;
            font-size: 1.5rem;
            margin-bottom: 1.1rem;

            @media only screen and (max-width: $bp_phone){
                display: block;
            }
        }

        input{
            height: 4.8rem;
            border: 1px solid $color_grey_1;
            border-radius: 4px;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color_grey_4;
            letter-spacing: -.25px;
            padding: 0 1rem;
            outline: none;
    
            &:focus{
                border: 1px solid $color_primary_2 !important;
            }
            &.item_name{
                width: 100%;
                max-width: 21.4rem;
                min-width: 0;

                @media only screen and (max-width: $bp_phone){
                    max-width: unset;
                }
            }
        
            &.quantity{
                width: 4.6rem;

                @media only screen and (max-width: $bp_phone){
                    width: 100%;
                }
            }
        
            &.price{
                width: 10rem;
                
                @media only screen and (max-width: $bp_phone){
                    width: 100%;
                }
            }
        }
    
        .total{
            flex-shrink: 0;
            color: $color_grey_2;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -.25px;
            height: 4.8rem;
            line-height: 4.8rem;
            @media only screen and (max-width: $bp_phone){
                width: 100%;
            }
        }
    }

    .delete{
        flex: 1;
        flex-shrink: 0;
        border: none;
        outline: none;
        background: url("/images/icon-delete.svg") no-repeat center;
        height: 1.5rem;
        width: 1.5rem;

        @media only screen and (max-width: $bp_phone){
            margin-top: 3rem;
        }
    }
}

:global(.dark_mode){
    .item_container{
        input{
            background-color: $color_primary_dark_1;
            border: 1px solid $color_primary_dark_2;
            color: $color_white;
        }
        .total{
            color: $color_grey_1;
        }
    }
}