/* Colors */
$color_primary_1: #7C5DFA;
$color_primary_2: #9277FF;

$color_primary_dark_1: #1E2139;
$color_primary_dark_2: #252945;

$color_grey_1: #DFE3FA;
$color_grey_2: #888EB0;
$color_grey_3: #7E88C3;
$color_grey_4: #0C0E16;

$color_red: #EC5757;
$color_red_light: #9277FF;

$color_white: #fff;
$color_black: #000;

$color_light_bg: #F8F8FB;
$color_dark_bg: #141625;

/* Fonts */
$font_primary: "League Spartan", sans-serif;

/* Breakpoints */
$bp_tablet: 768px;
$bp_phone: 600px;
$bp_smallest: 400px;